<div class="background">
<div class="search">
<form action="/artist-search" method="GET" enctype="application/json">
<div class="input-group mb-3">
    <input name="search" type="text" class="form-control" placeholder="Search a Music, Band or Album" value="" aria-label="Search a Music, Band or Album" aria-describedby="button-addon2">
    <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Search</button>
</div>
</form>
</div>
</div>

{{!-- <form class="form-search" action="/artist-search" method="GET">
<input name="search" type = "text" value="" palceholder="Search a Music, Band or Album"/>
<button type="submit">Search</button>
</form> --}}